body{
    background-color: #9d8bc5;
    height: 800px;
    width: 100%;
    margin: 0;
    margin-top: -10px;
    margin-left: -10px;
    
}

.completed {
    text-decoration: line-through;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0c2c2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: -1px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .input-container {
    display: flex;
    margin-top: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #9d8bc5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }